################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/hackaton/CopilotIndices/17.14.878.3237
/.vs/hackaton/FileContentIndex
/.vs/hackaton/DesignTimeBuild
/.vs/hackaton/v17
/.vs/hackaton/config
/.vs/ProjectEvaluation
